<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0e84bdb3-b9a6-4029-904f-b8bdaf0c8e19/resourceGroups/rg-21-gaming-004/providers/Microsoft.Web/sites/web-21-gaming-004</ResourceId>
    <ResourceGroup>rg-21-gaming-004</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://web-21-gaming-004.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://web-21-gaming-004.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$web-21-gaming-004</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>